{% extends 'base-iframe.html' %}
{% from 'macros.html' import header %}
{% block header_social %}
    {{ header("Contested Races", None, request.path) }}
{% endblock %}

{% block extra_styles %}
<link href="{{ url_for('static', filename='css/widget.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<base target='_blank' />
{% if showImage %}
<img src="/static/images/illinois_state_seal.gif" class="header-image" />
{% endif %}

<div style="display:inline-block;">
    <h3>
        <a class="header-link" href='{{ url_for('views.contested_race_detail', race_type='gubernatorial', district=0) }}' target='_blank'>Race for Illinois Governor</a>
    </h3>
    <p class="widget-resize-subheader">Funds raised in 2018 Race for Illinois Governor, as of {{ current_date.strftime('%b %d, %Y')  }}</p>
</div>
<div style="clear:both;"></div>

<table class = "table table-striped table-hover table-border">
    <thead>
        <tr>
            <th style="max-width:250px;" class='text-left'>Candidate</th>
            <th style="max-width:200px;" class='text-right'>Cash on Hand</th>
            <th style="max-width:200px;" class='text-right'>Total Funds Raised</th>
        </tr>
    </thead>
    <tbody>
    {% for row in contested_race_data %}
        <tr class = 'clickable' style= "cursor: Pointer;" onclick="window.open('{{ url_for('views.contested_race_detail', race_type='gubernatorial', district=0) }}'); setAttribute('target','_blank');">
            <td class='text-left' style="color:#000;font-weight:bold;">
                {{ row[0] }}
            </td>
            <td class="text-right" style="white-space:nowrap;">
                {{ row[1]|format_money }}
            </td>
            <td class="text-right" style="white-space:nowrap;font-weight:bold;">
                {{ row[2]|format_money }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block extra_javascript %}

{% endblock %}
