{% extends 'base-iframe.html' %}
{% from 'macros.html' import header %}
{% block header_social %}
    {{ header("Top Contested Races", None, request.path) }}
{% endblock %}
{% block content %}

<h3>
    <a href='{{ url_for('views.contested_races') }}' target='_blank'>Top Contested Races</a>
</h3>

<p>Contested races for the Illinois General Assembly and Illinois Comptroller with the highest available funds and most Super PAC spending, updated daily. <i class='fa fa-fw fa-hand-pointer-o'></i> Click on a row to see individual races.</p>
<table class = "table table-striped table-hover">
    <thead>
        <tr>
            <th class = 'text-left'>D</th>
            <th class = 'text-left'>Branch</th>
            <th class = 'text-left'>Candidates</th>
            <th class = 'text-left'>Money in Race</th>
        </tr>
    </thead>
    <tbody>
        {% for key,value in top_races | dictsort %}
            {% if value.branch == "House" %}
                {% set r_type = "house" %}
            {% elif value.branch == "Senate" %}
                {% set r_type = "senate" %}
            {% else %}
                {% set r_type = "comptroller" %}
            {% endif %} 
            <tr class = 'clickable' style= "cursor: Pointer;" onclick="window.location.href = '{{ url_for('views.contested_race_detail', race_type=r_type, district=value.district) }}';">
                <td class='text-left'>
                    <a href= '{{ url_for('views.contested_race_detail', race_type=r_type, district=value.district) }}'>{{ value.district }}</a>
                </td>
                <td class ='text-left'>{{ value.branch[0] }}</td>
                <td class='text-left'>
                    {% for c in value.candidates %}
                        {% set nameList = c.name.split(" ") %}
                        {{ nameList[-1] }} ({{ c.party }}) {% if c != value.candidates[-1] %}vs. {% endif %} 
                    {% endfor %}
                </td>
                <td class='text-left'><strong>{{ value.total_money|format_money }}</strong></td>
            </a></tr>

        {% endfor %}
    </tbody>
</table> 

{% endblock %}

{% block extra_javascript %}

{% endblock %}
