{% extends 'base-iframe.html' %}
{% from 'macros.html' import header %}
{% block header_social %}
    {{ header("Top Earners", None, request.path) }}
{% endblock %}
{% block content %}

<h3>
    <a href='{{ url_for('views.top_earners') }}' target='_blank'>Top Illinois Committees</a>
</h3>

<p>Political committees who raised the most money in the last 30 days, updated daily.</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Committee</th>
            <th class='text-right'>New funds</th>
        </tr>
    </thead>
    <tbody>
        {% for earner in top_earners %}
            <tr>
                {% set committee_slug = [earner.name|slugify, earner.committee_id|string]|join('-') %}
                <td><a href="{{ url_for('views.committee', committee_id=committee_slug ) }}" target='_blank'>{{ earner.name }}</a></td>
                <td class='money-add text-right'>
                    {% if earner.amount %}
                        +{{earner.amount|format_money_short}}
                    {% else %}
                        $0
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block extra_javascript %}

{% endblock %}