/* Space out content a bit */
body {
  padding-bottom: 20px;
  font-size: 16px;
  height: 100%;
  font-family: Verdana,sans-serif;
}

table, label,.control-label,.help-block,.checkbox,.radio { font-size: 14px; }
.alert { font-size: 1em; font-weight: 500; }

.fa-spin-slow {
  -webkit-animation: fa-spin 12s infinite linear;
  animation: fa-spin 12s infinite linear;
}

.clear { clear: both; }

#filter-results label { padding-right: 15px;}

#search-results { min-height: 300px; }

#spinner h1 { padding-top: 30px; width: 100%; text-align: center; }

.super-sun { font-size: 80px; text-align: center; }
.super-sun span { font-size: 160px;}

#donation-chart, #donation-chart-year { height: 250px;}

#net-chart, #income-chart { height: 200px; }

.money-add { color: #007F00;}

.table > thead > tr > th {
  background-color: #ffe47f;
}

.clickable:hover {
   background-color: #ffe47f !important;
}

.panel-body {background:#ffe47f;}

.navbar-default {
  height: 70px;
  background-color: #FFCB08;
  padding-top: 10px;
}

.navbar-default .navbar-nav > li > a {
  font-family: "Muli",sans-serif;
  text-transform: uppercase;
  color: #000;
  font-size:14px;
}

.navbar-default .navbar-brand a {
  color: #000;
  font-family: "Muli",sans-serif;
  font-size: 28px;
}

.navbar-default .navbar-brand .sub-credit a {
  color: #666;
  font-family: "Muli",sans-serif;
  font-size: 12px;
}

.navbar-default .navbar-toggle { border-color: #000;}
.navbar-default .navbar-toggle .icon-bar { background-color: #000; }
.navbar-default .navbar-collapse { border: none; }

.navbar-default .navbar-brand:hover { color: #000; }

.navbar-default .navbar-nav { padding-top: 8px; }
.navbar-default .navbar-nav > li > a:hover { color: #000; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { color: #000; }

.nav > li > a {
  padding-left: 10px;
  padding-right: 10px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #FFCB08;
  border-color: #FFCB08;
  color: #000;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #FFCB08;
  border-color: #FFCB08;
  color: #000;
}

.nav-pills > li.inactive > a,
.nav-pills > li.inactive > a:hover,
.nav-pills > li.inactive > a:focus {
  background-color: #eaeaea;
  border-color: #eaeaea;
  color: #000;
}

.form-control::-moz-placeholder {
  color: #B6B6B4;
}
.form-control:-ms-input-placeholder {
  color: #B6B6B4;
}
.form-control::-webkit-input-placeholder {
  color: #B6B6B4;
}

.btn-primary, .btn-primary:hover {
  background-image: none;
  background-color: #FFCB08;
  color: #000;
  border: none;
  text-transform: uppercase;
}

.label:hover { text-decoration: none; }

a.header-link:link {text-decoration: none; color: #000000 !important;}
a.header-link:visited {text-decoration: none; color: #000000!important;}
a.header-link:hover {text-decoration: none; color: #000000 !important;}
a.header-link:active {text-decoration: none; color: #000000 !important;}
a.header-link{color: #000000 !important;}
a.header-link:focus {text-decoration: none; color: #000000 !important;}

a, a:active, a:hover, a:focus { color: #48d; }
/* Custom page footer */
.footer {
  padding: 20px 0 20px 0;
  color: #777;
  border-top: 2px solid #e5e5e5;
}

.footer img {
  padding-right: 10px;
}

.data-quality-note {
  cursor: pointer;
}

#money-table-guts {
  min-height: 200px;
  margin-top: 10px;
}

#money-table-guts h1{
  margin-top: 40px;
}

@media screen and (max-width: 992px) {
  body, table { font-size: 12px; color: #333;}
  .navbar-default .navbar-brand a {
    font-size: 22px;
  }

  .navbar-default .navbar-nav > li > a {
    font-size:12px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .jumbotron p {
      padding: 0 0 5px 0;
      margin: 0;
      font-size: 16px;
  }
}

.nowrap { white-space:nowrap; }

/* Datepicker styles */

.ui-widget {
    font-size: 0.9em;
}

.ui-datepicker {
    width: 22.5%;
    height: auto;
}

.ui-datepicker table {
    width: 100%;
    background-color: #fff;
}

.ui-datepicker table td,
.ui-datepicker table th {
    padding: 0;
}

.ui-datepicker-header {
    color: #333;
    background-color: #DDD;
    font-weight: bold;
}

.ui-datepicker-title {
    text-align: center;
    line-height: 30px;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
    cursor: pointer;
}

.ui-datepicker-prev {
    float: left;
}

.ui-datepicker-next {
    float: right;
    margin-right: 5px;
}

.ui-datepicker-next:after {
    content: "";
    border-color: rgba(0,0,0,0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #333;
    border-image: none;
    border-style: solid;
    border-width: 9px;
    display: block;
    height: 0;
    margin-top: 5px;
    width: 0;
}
.ui-datepicker-prev:before {
    content: "";
    border-color: rgba(0,0,0,0) #333 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 9px;
    display: block;
    height: 0;
    margin-top: 5px;
    width: 0;
}

.ui-datepicker th {
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
}

.ui-datepicker tbody td {
    border-right: none;
    text-align: center;
    padding: 3px 0;
}
.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
    border-bottom: 0px
}

.ui-tooltip {
    width: 25%;
    overflow: hidden;
}

.panel-heading {
    cursor: pointer;
}

.advertisement .img-responsive {
    margin: 0 auto;
}

.sidebar_newsletter {
    left: 0;
    position: fixed;
    width: 250px;
    margin-top:200px;
    overflow: hidden;
    height: 25vh;
    max-height: 25vh;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    z-index: 10000000000;
}

.fa-times {
    right: 10px;
    top: 10px;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    color: black;
    transition: all 0.3s ease-in-out;
}

.fa-times:hover {
    opacity: 1;
}

.hide_menu {
    margin-left: -250px;
}
