/* Space out content a bit */
body {
  padding-bottom: 20px;
  font-size: 16px;
  height: 100%;
  font-family: Verdana,sans-serif;
}

a, a:active, a:hover, a:focus { color: #48d; }

table, label,.control-label,.help-block,.checkbox,.radio { font-size: 14px; }
.alert { font-size: 1em; font-weight: 500; }

.fa-spin-slow {
  -webkit-animation: fa-spin 12s infinite linear;
  animation: fa-spin 12s infinite linear;
}

#filter-results label { padding-right: 15px;}

#search-results { min-height: 400px; }

.navbar-default {
  height: 60px;
  background-color: #FFCB08;
  padding-top: 10px;
}

.navbar-default .navbar-nav > li > a {
  font-family: "Muli",sans-serif;
  text-transform: uppercase;
  color: #000;
}

.navbar-default .navbar-brand {
  color: #000;
  font-family: "Muli",sans-serif;
  font-size: 20px;
}

.navbar-default .navbar-brand:hover { color: #000; }

.navbar-default .navbar-nav > li > a:hover { color: #000; } 

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus { color: #000; }

.btn-primary, .btn-primary:hover {
  background-image: none;
  background-color: #FFCB08;
  color: #000;
  border: none;
  text-transform: uppercase;
}

.label:hover { text-decoration: none; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nowrap { white-space:nowrap; }