{% extends 'admin/base.html' %}
://www.youtube.com/agrant@127.0.0.1
{% from 'macros.html' import header %}

{% block header_social %}
    {{ header("News", "", request.path) }}
{% endblock %}

{% block content %}
<div>
    <p class="text-center"> {{ code }} </p>
    <form method="POST" action="/admin/news/">
        <div style="position:fixed; left:0px; bottom:0px; background-color:transparent; height:40px; width:100vw; z-index:400;">
            <div class="container" style="margin:0 auto; position:relative;">
                <button type="submit" class="btn btn-default" style="width:75px; position:absolute; left:-60px;">Save</button>
            </div>
        </div>
        <div class="ckeditor-div">
            <div class="col-sm-8">
                <h3 class="text-left" style="width:100%;">News Editor 1</h3>
                <textarea id="editor1" name="editor1" class="ckeditor-textbox">
                    {{ news_content["1"]|safe }}
                </textarea>
            </div>
            <div class="col-sm-4">
                <h3 class="text-left">Preview</h3>
                <div id="editor1-preview" class="ckeditor-preview">
                    {{ news_content["1"]|safe }}
                </div>
            </div>
        </div>
        <div class="ckeditor-div">

            <div class="col-sm-8">
                <h3 class="text-left" style="width: 100%;">News Editor 2</h3>
                <textarea id="editor2" name="editor2" class="ckeditor-textbox">
                    {{ news_content["2"]|safe }}
                </textarea>
            </div>
            <div class="col-sm-4">
                <h3 class="text-left">Preview</h3>
                <div id="editor2-preview" class="ckeditor-preview">
                    {{ news_content["2"]|safe }}
                </div>
            </div>
        </div>
        <div class="ckeditor-div">

            <div class="col-sm-8">
                <h3 class="text-left" style="width: 100%;">News Editor 3</h3>
                <textarea id="editor3" name="editor3" class="ckeditor-textbox">
                    {{ news_content["3"]|safe }}
                </textarea>
            </div>
            <div class="col-sm-4">
                <h3 class="text-left">Preview</h3>
                <div id="editor3-preview" class="ckeditor-preview">
                    {{ news_content["3"]|safe }}
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block extra_javascript %}
<script>
    $(document).ready(function() {
        CKEDITOR.config.removeButtons = 'Save,Print,Preview';
        $(".ckeditor-textbox").ckeditor();

        for (var i in CKEDITOR.instances) {
            CKEDITOR.instances[i].on('change', function(e) {
                var data = e.editor.getData();
                $("#" + e.editor.name + "-preview").html(data);
            });
        }
    });
</script>
{% endblock %}
