<!DOCTYPE html>
<html lang="en" style="height: 100%;">
  <head>

    {% block header_social %}{% endblock %}

    <link rel="icon" href="/static/images/favicon.png" type="image/png">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.simplex.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% block extra_styles %}{% endblock %}
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">
              <a href="/"><i class='fa fa-spin-slow fa-sun-o'></i> Illinois Sunshine</a>
              <span class='sub-credit visible-lg-inline'><a href='http://ilcampaign.org'>by The Illinois Campaign for Political Reform</a></span>
            </span>
          </div>
          <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
              <li class="{% if request.path == url_for('views.search') %}active{% endif %}"><a href='{{ url_for('views.search') }}'><i class='fa fa-search fa-fw'></i> Search</a></li>
              <li class="{% if request.path == url_for('views.donations') %}active{% endif %}"><a href='{{ url_for('views.donations') }}'><i class='fa fa-dollar fa-fw'></i> Donations</a></li>
              <li class="{% if request.path == url_for('views.top_earners') %}active{% endif %}"><a href='{{ url_for('views.top_earners') }}'><i class='fa fa-plus-circle fa-fw'></i> Top earners</a></li>
              <li class="{% if request.path == url_for('views.committees') %}active{% endif %}"><a href='{{ url_for('views.committees') }}'><i class='fa fa-group fa-fw'></i> Committees</a></li>
              <li class="{% if request.path == url_for('views.about') %}active{% endif %}"><a href='{{ url_for('views.about') }}'><i class='fa fa-info-circle fa-fw'></i> About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <div class="container">
        <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="row">
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        {{ message|safe }}
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        </div>
        {% block content %}{% endblock %}

        <br />
        <div class='clearfix'></div>

        <div class="footer">

          <small class='pull-right credits'>
            Interested in getting regular updates on IL campaign finance?<br />
            <a class='btn btn-primary btn-sm' href='http://visitor.r20.constantcontact.com/d.jsp?llr=bnwyzvcab&p=oi&m=1102390778273&sit=6lsinp9db&f=00f849c1-d8c7-4c90-b91f-0a271e7309df.'>
              <i class='fa fa-fw fa-envelope'></i>
              Subscribe to our newsletter &raquo;</a>
          </small>

          <p class='pull-left'>
            <img src='/static/images/icpr-logo.png' alt='Illinois Campaign for Political Reform' title='Illinois Campaign for Political Reform' style='height: 100px'/>
          </p>

          <small class='pull-left credits'>
            By the <a href='http://www.ilcampaign.org/' title='Illinois Campaign for Political Reform'>Illinois Campaign for Political Reform</a><br />
            Built by <a href='http://datamade.us'>DataMade</a><br />
            Code on <a href='https://github.com/datamade/illinois-sunshine'><i class='fa fa-github'></i> GitHub</a>
          </small>
        </div>
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-1.10.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/analytics_lib.js') }}"></script>

    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    {% block extra_javascript %}{% endblock %}

  </body>
</html>
