{% extends 'base.html' %}
{% block title %}{{ candidate.last_name }}, {{ candidate.first_name }}{% endblock %}
{% from 'macros.html' import header %}
{% block header_social %}
    {{ header(candidate.first_name + " " + candidate.last_name, "Candidate information for " + candidate.first_name + " " + candidate.last_name, request.path) }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>
            {{ candidate.first_name }} {{ candidate.last_name }}
            <small>{{ candidate.office }}</small>
        </h1>
        <p>
            {{ candidate.address_1 }}
            {% if candidate.address_2 %}
                {{ candidate.address_2 }}
            {% endif %}
            &middot;
            {{ candidate.city }},
            {{ candidate.state }}
            {{ candidate.zipcode }}
        </p>
        <hr />
        {% if supporting|length > 1 %}
            <h3>Supporting Committees</h3>
        {% else %}
            <h3>Supporting Committee</h3>
        {% endif %}
        <table class="table table-striped">
            <tbody>
                {% for committee in supporting %}
                    {% if committee.active %}
                        {% set committee_slug = [committee.name|slugify, committee.id|string]|join('-') %}
                        <tr>
                            <td><a href="{{ url_for('views.committee', committee_id=committee_slug ) }}">{{ committee.name }}</a></td>
                            <td>{{ committee.type }} Committee</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        {% if candidate.candidacies|length > 1 %}
            <h3>Candidacies</h3>
        {% else %}
            <h3>Candidacy</h3>
        {% endif %}
        <table class="table table-striped">
            <tbody>
                <thead>
                    <th>Election</th>
                    <th>Race type</th>
                    <th>Outcome</th>
                </thead>
                {% for candidacy in candidate.candidacies|sort(attribute='election_year', reverse=True) %}
                    <tr>
                        <td>
                            {{ candidacy.election_year }} {{ candidacy.election_type }}
                        </td>
                        <td>
                            {{ candidacy.race_type if candidacy.race_type else '' }}
                        </td>
                        <td>
                            {{ candidacy.outcome if candidacy.outcome else '' }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
