{% extends 'base.html' %}
{% block title %}Search Candidates{% endblock %}
{% block content %}

<h1><i class='fa fa-check-square-o fa-fw'></i> Candidates</h1>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Candidate</th>
                    <th>Committee(s)</th>
                    <th>Campaign funds</th>
                </tr>
            </thead>
            <tbody>
                {% for record in rows %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ url_for('views.candidate', candidate_id=record.candidate_id ) }}">{{ record.candidate_first_name }} {{ record.candidate_last_name }}</a></td>
                        <td><a href="{{ url_for('views.committee', committee_id=record.committee_id ) }}">{{ record.committee_name }}</a></td>
                        <td>{{ record.total|format_money }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
