{% extends 'base.html' %}
{% block title %}{{ candidate.last_name }}, {{ candidate.first_name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>
            {{ candidate.first_name }} {{ candidate.last_name }}
            <small>{{ candidate.party }}</small>
        </h1>
        <p>
            {{ candidate.address_1 }}
            {% if candidate.address_2 %}
                {{ candidate.address_2 }}
            {% endif %}
            &middot;
            {{ candidate.city }},
            {{ candidate.state }}
            {{ candidate.zipcode }}
        </p>
        <p><a href='http://www.elections.il.gov/CampaignDisclosure/CandidateDetail.aspx?id={{candidate.id}}'>View on IL Board of Elections website</a></p>
        <hr />
        {% if supporting|length > 1 %}
            <h3>Supporting Committees</h3>
        {% else %}
            <h3>Supporting Committee</h3>
        {% endif %}
        <table class="table table-striped">
            <tbody>
                {% for committee in supporting %}
                    {% if committee.active %}
                        <tr>
                            <td><a href="{{ url_for('views.committee', committee_id=committee.id ) }}">{{ committee.name }}</a></td>
                            <td>{{ committee.type }} Committee</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        {% if opposing %}
            {% if opposing|length > 1 %}
                <h3>Opposing Committees</h3>
            {% else %}
                <h3>Opposing Committee</h3>
            {% endif %}
            <table class="table table-striped">
                <tbody>
                    {% for committee in opposing %}
                        <tr>
                            <td><a href="{{ url_for('views.committee', committee_id=committee.id ) }}">{{ committee.name }}</a></td>
                            <td>{{ committee.type }} Committee</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if candidate.candidacies|length > 1 %}
            <h3>Candidacies</h3>
        {% else %}
            <h3>Candidacy</h3>
        {% endif %}
        <table class="table table-striped">
            <tbody>
                <thead>
                    <th>Election</th>
                    <th>Race type</th>
                    <th>Outcome</th>
                </thead>
                {% for candidacy in candidate.candidacies|sort(attribute='election_year', reverse=True) %}
                    <tr>
                        <td>
                            {{ candidacy.election_year }} {{ candidacy.election_type }}
                        </td>
                        <td>
                            {{ candidacy.race_type if candidacy.race_type else '' }}
                        </td>
                        <td>
                            {{ candidacy.outcome if candidacy.outcome else '' }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
