{% extends 'base.html' %}
{% from 'macros.html' import pager %}
{% block title %}Committees{% endblock %}
{% block content %}

<h1><i class='fa fa-group fa-fw'></i> Committees</h1>

<div class="row">
    <div class="col-sm-12">

        <ul class="nav nav-tabs">
          <li role="presentation" {% if committee_type == "Candidate"%}class="active"{% endif %}><a href="{{ url_for('views.committees') }}?type=candidate">Candidate</a></li>
          <li role="presentation" {% if committee_type == "Independent Expenditure"%}class="active"{% endif %}><a href="{{ url_for('views.committees') }}?type=independent">Independent Expenditure</a></li>
          <li role="presentation" {% if committee_type == "Political Action"%}class="active"{% endif %}><a href="{{ url_for('views.committees') }}?type=action">Political Action</a></li>
          <li role="presentation" {% if committee_type == "Political Party"%}class="active"{% endif %}><a href="{{ url_for('views.committees') }}?type=party">Political Party</a></li>
          <li role="presentation" {% if committee_type == "Ballot Initiative"%}class="active"{% endif %}><a href="{{ url_for('views.committees') }}?type=ballot">Ballot Initiative</a></li>
        </ul>

        <h2>{{committee_type}} Committees</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Committee</th>
                    <th>Funds</th>
                </tr>
            </thead>
            <tbody>
                {% for c in committees %}
                    <tr>
                        <td>{{ loop.index + ((request.args.get('page', 1)|int * 50) - 50) }}</td>
                        <td><a href="{{ url_for('views.committee', committee_id=c.committee_id ) }}">{{ c.committee_name }}</a></td>
                        <td>
                            {% if c.total %}
                                {{c.total|format_money}}
                            {% else %}
                                $0
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      {% set url_base = request.path + '?type=' + request.args.get('type', 'candidate') %}
      {{ pager(request.args.get('page', 1)|int, page_count|int, url_base) }}
    </div>
</div>


{% endblock %}
