{% extends 'base.html' %}
{% block title %}{{ committee.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-8">
        <h1>
            {{ committee.name }}
            <small>{{ committee.type }} Committee
                {% if not committee.active %}
                    (inactive)
                {% endif %}
            </small>
        </h1>
        
        <table class="table table-striped">
            <thead>
                <th>{{ latest_filing.reporting_period_end.strftime('%b %d, %Y') }} quarterly report</th>
                <th>Amount</th>
            </thead>
            <tbody>
                {% if latest_filing and latest_filing.reporting_period_end %}
                    <tr>
                        <td>Funds available</td>
                        <td>{{ latest_filing.end_funds_available|format_money }}</td>
                    </tr>
                    <tr>
                        <td>Investments</td>
                        <td>{{ latest_filing.total_investments|format_money }}</td>
                    </tr>
                    <tr>
                        <td>Debts and obligations</td>
                        <td>-{{ latest_filing.total_debts|format_money }}</td>
                    </tr>
                    <tr>
                        <td>Contributions since {{ latest_filing.reporting_period_end.strftime('%b %d, %Y')}}*</td>
                        <td>{{ recent_total|format_money }}</td>
                    </tr>
                {% endif %}
            </tbody>
            <tfoot>
                <tr>
                    <td><strong>Total funds</strong></td>
                    <td><strong>{% if controlled_amount %}{{ controlled_amount|format_money }}{% else %}$0{% endif %}</strong></td>
                </tr>
            </tfoot>
        </table>

        <h3 id="income-chart-title">Net funds over time</h3>
        <div id="income-chart"></div>

        {% if related_committees %}
                <h3>
                    Related committees
                </h3>
                <table class="table table-striped">
                    <thead>
                        <th>Name</th>
                        <th>Committee type</th>
                        <th>Funds controlled</th>
                        <th>Reason for relation</th>
                    </thead>
                    <tbody>
                        {% for committee in related_committees %}
                            <tr>
                                <td><a href="{{ url_for('views.committee', committee_id=committee.id )}}">{{ committee.name }}</a></td>
                                <td>{{ committee.type if committee.type else '' }}</td>
                                <td>{{ committee.money|format_money if committee.money else ''}}</td>
                                <td>{{ committee.reason }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% endif %}

        {% if recent_receipts %}
            <h3>
                Receipts after last quarterly report
                <small>({{ recent_total|format_money }} Total)</small>
            </h3>
            <table class="table table-striped">
                <tbody>
                    {% for receipt in recent_receipts|sort(attribute='received_datetime', reverse=True) %}
                        <tr>
                            <td>
                                {% if receipt.first_name %}
                                    {{ receipt.first_name }}
                                {% endif %}
                                {{ receipt.last_name }}
                            </td>
                            <td class='nowrap'>
                                <a href="{{ url_for('views.contribution', receipt_id=receipt.id )}}">donated <strong>{{ receipt.amount|format_money }}</strong></a>
                            </td>
                            <td class='nowrap'>
                                on {{ receipt.received_datetime.strftime('%b %d, %Y') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <div class='col-sm-4'>
        <div class='well'>
            {% if committee.candidates %}
                <table class="table">
                    <thead>
                        <th>Supported candidate</th>
                        <th>Office</th>
                    </thead>
                    <tbody>
                        {% for candidate in committee.candidates %}
                            <tr>
                                <td><a href="{{ url_for('views.candidate', candidate_id=candidate.id )}}">{{ candidate.first_name }} {{ candidate.last_name }}</a></td>
                                <td>{{ candidate.office }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% endif %}

            <hr />
            <table class="table">
                <thead>
                    <th>Officer</th>
                    <th>Title</th>
                </thead>
                <tbody>
                    {% for officer in current_officers %}
                        <tr>
                            <td>{{ officer.first_name }} {{ officer.last_name }}</a></td>
                            <td>{{ officer.title }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class='table'>
                <tbody>
                    <tr>
                        <td>Address</td>
                        <td>
                            {{ committee.address1 }}
                            {% if committee.address2 %}
                                {{ committee.address2 }}
                            {% endif %}
                            {% if committee.address3 %}
                                {{ committee.address3 }}
                            {% endif %}
                            <br />
                            {{ committee.city }},
                            {{ committee.state }}
                            {{ committee.zipcode }}
                        </td>
                    </tr>
                    <tr>
                        <td>Founded</td>
                        <td>{{committee.creation_date.strftime('%b %d, %Y')}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a href='http://www.elections.il.gov/CampaignDisclosure/CommitteeDetail.aspx?id={{committee.id}}'>View on IL Board of Elections website</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}
{% block extra_javascript %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/chart_helper.js"></script>
    <script>
        var investments = {{ investments|tojson|safe }};
        var debts = {{ debts|tojson|safe }};
        var ending_funds = {{ ending_funds|tojson|safe }};
        
        var investments_f = [];
        var debts_f = [];
        var ending_funds_f = [];

        // format investments
        for (i = 0; i < investments.length; i++) {
            investments_f.push([Date.UTC(investments[i][1],investments[i][2]-1,investments[i][3]), investments[i][0]]);
        }

        // format debts
        for (i = 0; i < debts.length; i++) {
            debts_f.push([Date.UTC(debts[i][1],debts[i][2]-1,debts[i][3]), debts[i][0]]);
        }

        // format funds available
        for (i = 0; i < ending_funds.length; i++) {
            ending_funds_f.push([Date.UTC(ending_funds[i][1],ending_funds[i][2]-1,ending_funds[i][3]), ending_funds[i][0]]);
        }
        
        {% if ending_funds|length > 1 %}
            ChartHelper.netfunds('income-chart', 'Funds over time', '', 'Funds', [ending_funds_f,investments_f,debts_f]);
        {% else %}
            $("#income-chart-title").hide();
            $("#income-chart").hide();
        {% endif %}
    </script>
{% endblock %}
