{% extends 'base.html' %}
{% from 'macros.html' import pager, header %}
{% block header_social %}
    {{ header(committee_title, committee_type | committee_description, request.path) }}
{% endblock %}
{% block content %}

<h1><i class='fa fa-group fa-fw'></i> Committees</h1>

<div class="row">
    <div class="col-sm-12">

        <ul class="nav nav-pills">
          <li role="presentation" {% if committee_type == "Candidate"%}class="active"{% endif %}><a href="{{ url_for('views.committees') }}?type=candidate">Candidate</a></li>
          <li role="presentation" {% if committee_type == "Super PAC"%}class="active"{% endif %}><a href="{{ url_for('views.committees') }}?type=super_pac">Super PACs</a></li>
          <li role="presentation" {% if committee_type == "Political Action"%}class="active"{% endif %}><a href="{{ url_for('views.committees') }}?type=action">Political Action</a></li>
          <li role="presentation" {% if committee_type == "Political Party"%}class="active"{% endif %}><a href="{{ url_for('views.committees') }}?type=party">Political Party</a></li>
          <li role="presentation" {% if committee_type == "Ballot Initiative"%}class="active"{% endif %}><a href="{{ url_for('views.committees') }}?type=ballot">Ballot Initiative</a></li>
        </ul>

        <h2>{{committee_title}}</h3>

        <p class="subtitle">{{ committee_type | committee_description }}</p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Committee</th>
                    {% if committee_type == "Candidate Committees" %}
                        <th>Candidate</th>
                    {% endif %}
                    <th class='text-right'>Funds</th>
                </tr>
            </thead>
            <tbody>
                {% for c in committees %}
                    {% set committee_slug = [c.committee_name|slugify, c.committee_id|string]|join('-') %}
                    <tr>
                        <td>{{ loop.index + ((request.args.get('page', 1)|int * 50) - 50) }}</td>
                        <td><a href="{{ url_for('views.committee', committee_id=committee_slug ) }}">{{ c.committee_name }}</a></td>
                        {% if committee_type == "Candidate Committees" %}
                            {% set candidate_slug = [c.first_name|slugify, c.last_name|slugify, c.id|string]|join('-') %}
                            <td><a href='{{ url_for('views.candidate', candidate_id=candidate_slug ) }}'>{{c.first_name}} {{c.last_name}}</a></td>
                        {% endif %}
                        <td class='text-right'>
                            {% if c.total %}
                                {{c.total|format_money}}
                            {% else %}
                                $0
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      {% set url_base = request.path + '?type=' + request.args.get('type', 'candidate') %}
      {{ pager(request.args.get('page', 1)|int, page_count|int, url_base) }}
    </div>
</div>


{% endblock %}
