{% extends 'base.html' %}
{% block title %}{{ committee.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>
            {{ committee.name }}
            <small>{{ committee.type }}</small>
        </h1>
        <p>
            {{ committee.address1 }}
            {% if committee.address2 %}
                {{ committee.address2 }}
            {% endif %}
            {% if committee.address3 %}
                {{ committee.address3 }}
            {% endif %}
            &middot;
            {{ committee.city }},
            {{ committee.state }}
            {{ committee.zipcode }}
        </p>
        <h3>Total money: {% if controlled_amount %}{{ controlled_amount|format_money }}{% else %}$0{% endif %}</h3>
        <p>{{ money }}</p>
        <hr />
        <h3>Officers</h3>
        <table class="table table-bordered table-condensed">
            <thead>
                <th>Name</th>
                <th>Title</th>
            </thead>
            <tbody>
                {% for officer in committee.officers %}
                    <tr>
                        <td>{{ officer.first_name }} {{ officer.last_name }}</a></td>
                        <td>{{ officer.title }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if committee.candidates %}
            <h3>
                Supported candidates
            </h3>
            <table class="table table-bordered table-condensed">
                <thead>
                    <th>Name</th>
                    <th>Office</th>
                </thead>
                <tbody>
                    {% for candidate in committee.candidates %}
                        <tr>
                            <td><a href="{{ url_for('views.candidate', candidate_id=candidate.id )}}">{{ candidate.first_name }} {{ candidate.last_name }}</a></td>
                            <td>{{ candidate.office }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endif %}
        {% if related_committees %}
            <h3>
                Related committees
            </h3>
            <table class="table table-bordered table-condensed">
                <thead>
                    <th>Name</th>
                    <th>Committee type</th>
                    <th>Money controlled</th>
                    <th>Reason for relation</th>
                </thead>
                <tbody>
                    {% for committee in related_committees %}
                        <tr>
                            <td><a href="{{ url_for('views.committee', committee_id=committee.id )}}">{{ committee.name }}</a></td>
                            <td>{{ committee.type if committee.type else '' }}</td>
                            <td>{{ committee.money|format_money if committee.money else ''}}</td>
                            <td>{{ committee.reason }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endif %}
        {% if latest_filing.end_funds_available %}
            <h3>Latest report filed</h3>
            <table class="table table-bordered table-condensed">
                <thead>
                    <th>Ending funds</th>
                    <th>Reporting period begin</th>
                    <th>Reporting period end</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ latest_filing.end_funds_available|format_money }}</td>
                        <td>{{ latest_filing.reporting_period_begin }}</td>
                        <td>{{ latest_filing.reporting_period_end }}</td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
        {% if recent_receipts %}
            <h3>
                Receipts after last quarterly report
                <small>({{ recent_total|format_money }} Total)</small>
            </h3>
            <table class="table table-bordered table-condensed">
                <thead>
                    <th>Report type</th>
                    <th>Donor</th>
                    <th>Amount</th>
                    <th>Received date</th>
                </thead>
                <tbody>
                    {% for receipt in recent_receipts|sort(attribute='received_datetime', reverse=True) %}
                        <tr>
                            <td><a href="{{ url_for('views.contribution', receipt_id=receipt.id )}}">{{ receipt.doc_name }}</a></td>
                            <td>
                                {% if receipt.first_name %}
                                    {{ receipt.first_name }}
                                {% endif %}
                                {{ receipt.last_name }}
                            </td>
                            <td>{{ receipt.amount|format_money }}</td>
                            <td>{{ receipt.received_datetime }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>


{% endblock %}
