{% extends 'base.html' %}
{% block title %}Sunshine Database | Search Contributions{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Search contributions</h1>
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </div>
</div>
{% endblock %}
