{% extends 'base.html' %}
{% from 'macros.html' import pager, header %}
{% block header_social %}
    {{ header(contested_races_title, contested_races_type | contested_races_description, request.path) }}
{% endblock %}
{% block content %}

{% if is_single %}
<style>
    body {
        color: #000;
    }
    table.table-striped.table-hover tr.nohighlight td {
        background-color: #f9f9f9 !important;
    }
    table.table-striped.table-hover td {
        border-top: 0 !important;
    }
</style>
{% endif %}

<div class="row">
    <div class="col-sm-8">
    </div>
   </div>
<div class="row">
    <div class="col-sm-8">
        <img src="/static/images/illinois_state_seal.png" style="width: 80px; height: 80px;" class="header-image"/>
        <div style="display:inline-block;">
            <h1 style="color: #000; font-size: 36px;">Contested State Races</h1>
            <p style="color: #000; font-size:20px; padding-left: 2px;">Updated Daily</p>
        </div>


        <br />
        <ul class="nav nav-pills">
          <li role="presentation" {% if contested_races_type == "House of Representatives"%}class="active"{% else %}class="inactive"{% endif %}><a href="{{ url_for('views.contested_races') }}?type=house_of_representatives">House of Representatives  </a></li>
          <li role="presentation" {% if contested_races_type == "Senate"%}class="active"{% else %}class="inactive"{% endif %}><a href="{{ url_for('views.contested_races') }}?type=senate">  Senate  </a></li>
          <li role="presentation" {% if contested_races_type == "Statewide Offices"%}class="active"{% else %}class="inactive"{% endif %}><a href="{{ url_for('views.contested_races') }}?type=statewide_office">  Statewide Offices  </a></li>
          <li role="presentation" {% if contested_races_type == "gubernatorial"%}class="active"{% else %}class="inactive"{% endif %}><a href="{{ url_for('views.contested_races') }}?type=gubernatorial">  Governor  </a></li>
        </ul>


        <h2 style="color:#222; font-size:32px;">{{contested_races_title}}</h2>

        <p>
            {{ contested_races_type | contested_races_description }}
            {% if not is_single %}<br />Click on a row to see detailed information.{% endif %}
        </p>
    </div>
    <div class="col-sm-4">
        <p style="margin-left: 30px; margin-top:25px;">Brought to you by:</p>
        <img src='/static/images/mccormick-foundation-logo_2x.png' class='img-responsive center-block' style="width: 85%; height: 85%;"/>
    </div>
 </div>


<div class="col-sm-12" style="padding: 0;">
    {% if contested_races_type == "House of Representatives" %}
        {% set r_type = "house" %}
    {% elif contested_races_type == "Senate" %}
        {% set r_type = "senate" %}
    {% elif contested_races_type == "Gubernatorial" %}
        {% set r_type = "gubernatorial" %}
    {% else %}
        {% set r_type = "statewide_office" %}
    {% endif %}
    <table class="table table-striped table-hover">
        <thead>
            <th style="width: 33.3%;">District</th>
            <th style="width: 33.3%;" class="text-center">No. of Candidates</th>
            <th style="width: 33.3%;" class="text-right">Total Funds in Race</th>
        </thead>
        <tbody>
            {% for row in count %}
            <tr class="clickable" style="cursor:pointer;" onclick="display({{row[0]}})">
                {% if r_type != "statewide_office" %}
                    {% if row[0] == 1 %}
                    <td style="width: 33.3%;">{{ row[0] }}st {{ district_label }}</td>
                    {% elif row[0] == 2 %}
                    <td style="width: 33.3%;">{{ row[0] }}nd {{ district_label }}</td>
                    {% elif row[0] == 3 %}
                    <td style="width: 33.3%;">{{ row[0] }}rd {{ district_label }}</td>
                    {% else %}
                    <td style="width: 33.3%;">{{ row[0] }}th {{ district_label }}</td>
                    {% endif %}
                {% else %}
                    <td style="width: 33.3%;">{{ row[0] }}</td>
                {% endif %}
                <td style="width: 33.3%;" class="text-center">{{ row[1] }}</td>
                <td style="width: 33.3%;" class="text-right">{{ row[2] | format_money }}</td>
            </tr>
            <tr id="{{row[0]}}" style="display: none;">
                <td colspan="3" style="padding: 0;">
                    <div class="col-sm-6" style="padding: 0;">
                        <table class="table table-striped dem uneven table-border table-merge" style="padding-bottom: 0; margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <th style="background-color: #99afff;">Democratic Candidates</th>
                                    <th class="text-right" style="background-color: #99afff;">Funds Raised</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Committee Name</td>
                                    <td class='text-right'>Cash on Hand</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-sm-6" style="padding: 0;">
                        <table class="table table-striped rep table-border" style="padding-bottom: 0;  margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <th style="background-color: #ff9999;" >Republican Candidates</th>
                                    <th class="text-right" style="background-color: #ff9999;" >Funds Raised</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Committee Name</td>
                                    <td class='text-right'>Cash on Hand</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

<script>



</script>

{% endblock %}

{% block extra_javascript %}
<script>

    function display(id) {
        var attr = "#" + id;
        if ( $(attr).css('display') == 'none' ){
            $(attr).show();
        }
        else {
            $(attr).hide();
        }
    }

</script>
{% endblock %}
