{% extends 'base.html' %}
{% block title %}Sunshine Database | {{ receipt.last_name }}, {{ receipt.first_name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>
            <strong>{{ receipt.amount|format_money }}</strong> from
            {% if receipt.first_name %}
                {{ receipt.first_name }}
            {% endif %}
            {{ receipt.last_name }}
            <strong> to {{ receipt.committee.name }}</strong>
            {% if receipt.received_date %}
                on {{ receipt.received_date.strftime('%B %-m, %Y') }}
            {% endif %}
        </h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4>Donation info</h4>
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Total amount</th>
                    <th>Loan amount</th>
                    <th>Aggregate amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ receipt.amount|format_money }}</td>
                    <td>{{ receipt.loan_amount|format_money }}</td>
                    <td>{{ receipt.aggregate_amount|format_money }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4>Recipient info</h4>
        <table class="table table-bordered table-condensed">
            <tbody>
                <tr>
                    <td><strong>Name</strong></td>
                    <td>
                        <a href="{{ url_for('views.committee', committee_id=receipt.committee.id ) }}">
                            {{ receipt.committee.name }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><strong>Address</strong></td>
                    <td>
                        {{ receipt.committee.address1 }}
                        {% if receipt.committee.address2 %}
                            &nbsp;{{ receipt.committee.address2 }}
                        {% endif %}
                        {% if receipt.committee.address3 %}
                            &nbsp;{{ receipt.committee.address3 }}
                        {% endif %}
                        &middot;
                        {{ receipt.committee.city }},
                        {{ receipt.committee.state }}
                        {{ receipt.committee.zipcode }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
</div>
<div class="row">
    <div class="col-sm-12">
        <h4>Donor info</h4>
        <table class="table table-bordered table-condensed">
            <tbody>
                <tr>
                    <td><strong>Name</strong></td>
                    <td>
                        {% if receipt.first_name %}
                            {{ receipt.first_name }}
                        {% endif %}
                        {{ receipt.last_name }}
                    </td>
                </tr>
                <tr>
                    <td><strong>Address</strong></td>
                    <td>
                        {{ receipt.address1 }}
                        {% if receipt.address2 %}
                            &nbsp;{{ receipt.address2 }}
                        {% endif %}
                        &middot;
                        {{ receipt.city }},
                        {{ receipt.state }}
                        {{ receipt.zipcode }}
                    </td>
                </tr>
                {% if receipt.description %}
                    <tr>
                        <td><strong>Description</strong></td>
                        <td>{{ receipt.description }}</td>
                    </tr>
                {% endif %}
                {% if receipt.occupation %}
                    <tr>
                        <td><strong>Occupation</strong></td>
                        <td>{{ receipt.occupation }}</td>
                    </tr>
                {% endif %}
                {% if receipt.employer %}
                    <tr>
                        <td><strong>Employer</strong></td>
                        <td>{{ receipt.employer }}</td>
                    </tr>
                {% endif %}
                {% if receipt.vendor_last_name %}
                    <tr>
                        <td><strong>Vendor name</strong></td>
                        <td>
                            {% if receipt.vendor_first_name %}
                                {{ receipt.vendor_first_name }}
                            {% endif %}
                            {{ receipt.vendor_last_name }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Vendor address</strong></td>
                        <td>
                            {{ receipt.vendor_address1 }}
                            {% if receipt.vendor_address2 %}
                                &nbsp;{{ receipt.vendor_address2 }}
                            {% endif %}
                            &middot;
                            {{ receipt.vendor_city }},
                            {{ receipt.vendor_state }}
                            {{ receipt.vendor_zipcode }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
