{% extends 'base.html' %}
{% block title %}Donations{% endblock %}
{% block content %}

    <h1><i class='fa fa-dollar fa-fw'></i> Donations</h1>
    <p>Since 1994, <strong>${{ totals[0][0]|format_large_number }}</strong> has been donated to political campaigns in the State of Illinois. Browse the <strong>{{ totals[0][1] | format_number }}</strong> individual donations below.</p>

    <div id='donation-chart'></div>

    <br />
    <h3>
        <strong>{{ weeks_total_count|format_number }}</strong> donations between <strong>{{start_date.strftime('%b %d, %Y')}}</strong> and <strong>{{end_date.strftime('%b %d, %Y')}}</strong> totalling <strong>{{ weeks_total_donations|format_money }}</strong>
        <span class='pull-right'>
            <a href='/donations?start_date={{prev_week_date.strftime('%Y-%m-%d')}}&end_date={{start_date.strftime('%Y-%m-%d')}}' class='btn btn-sm btn-primary'>&laquo; Prev week</a>
            {% if not is_current %}
                <a href='/donations?start_date={{end_date.strftime('%Y-%m-%d')}}&end_date={{next_week_date.strftime('%Y-%m-%d')}}' class='btn btn-sm btn-primary'>Next week &raquo;</a>
            {% endif %}
        </span>
    </h3>

    <p></p>

    <table class="table table-striped">
        <tbody>
            {% for donation in weeks_donations %}
                <tr>
                    <td>
                        <a href='/search/?term={% if donation.first_name %}{{ donation.first_name }}{% endif %} {{ donation.last_name }}&table_name=candidates&table_name=committees&table_name=officers&table_name=receipts'>{% if donation.first_name %}{{ donation.first_name }}{% endif %} {{ donation.last_name }}</a>
                    </td>
                    <td class='nowrap'>
                        <a href="{{ url_for('views.contribution', receipt_id=donation.id )}}">{{ donation.d2_part|donation_verb }} <strong>{{ donation.amount|format_money }}</strong></a> to
                    </td>
                    <td>
                        <a href="{{ url_for('views.committee', committee_id=donation.committee_id )}}">{{ donation.committee_name }}</a>
                    </td>
                    <td class='nowrap'>
                        on {{ donation.received_date.strftime('%b %d, %Y') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extra_javascript %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/chart_helper.js"></script>
    <script>

        var money = {{ donations_by_month|tojson|safe }};
        var money_f = [];
        for (i = 0; i < money.length; i++) {
            money_f.push([Date.UTC(money[i][1],money[i][2]-1,money[i][3]), money[i][0]]);
        }

        ChartHelper.donations('donation-chart', 'Campaign donations', '', 'Donations', money_f);
    </script>

{% endblock %}
