{% extends 'base.html' %}
{% block title %}{{ expense.last_name }}, {{ expense.first_name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>
            <strong>{{ expense.amount|format_money }}</strong> to
            {% if expense.first_name %}
                {{ expense.first_name }}
            {% endif %}
            {{ expense.last_name }}
            <strong> from {{ expense.committee.name }}</strong>
            {% if expense.expended_date %}
                on {{ expense.expended_date.strftime('%B %-m, %Y') }}
            {% endif %}
        </h2>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td><strong>Committee</strong></td>
                    <td>
                        <a href="{{ url_for('views.committee', committee_id=expense.committee.id ) }}">
                            {{ expense.committee.name }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><strong>Address</strong></td>
                    <td>
                        {{ expense.committee.address1 }}
                        {% if expense.committee.address2 %}
                            &nbsp;{{ expense.committee.address2 }}
                        {% endif %}
                        {% if expense.committee.address3 %}
                            &nbsp;{{ expense.committee.address3 }}
                        {% endif %}
                        &middot;
                        {{ expense.committee.city }},
                        {{ expense.committee.state }}
                        {{ expense.committee.zipcode }}
                    </td>
                </tr>
            </tbody>
        </table>

        <div class='row'>
            <div class='col-sm-6 col-sm-offset-3'>
                <div class='text-center well'>
                    <p>{{ expense.d2_part|expense_verb1 }}</p>
                    <h1>
                       <label class='label label-danger'>{{ expense.amount|format_money }}</label>
                    </h1>
                    <br />
                    {% if expense.purpose %}
                        <p>
                            on {{ expense.purpose }}
                        </p>
                    {% endif %}
                    {% if expense.supporting or expense.opposing %}
                        {% if expense.supporting %}
                            <strong>Supporting</strong>
                        {% elif expense.opposing %}
                            <strong>Opposing</strong>
                        {% endif %}
                        <br /><strong>Candidate</strong>: {{ expense.candidate_name if expense.candidate_name else '' }}
                        <br /><strong>Office</strong>: {{ expense.office if expense.office else '' }}
                    {% endif %}
                </div>
                <div class='text-center'>
                    <h1><i class='fa fa-fw fa-chevron-down'></i></h1>
                </div>
            </div>
        </div>

        <table class="table table-hover">
            <tbody>
                <tr>
                    <td><strong>Recipient</strong></td>
                    <td>
                        {% if expense.first_name %}
                            {{ expense.first_name }}
                        {% endif %}
                        {{ expense.last_name }}
                    </td>
                </tr>
                <tr>
                    <td><strong>Address</strong></td>
                    <td>
                        {{ expense.address1 }}
                        {% if expense.address2 %}
                            &nbsp;{{ expense.address2 }}
                        {% endif %}
                        &middot;
                        {{ expense.city }},
                        {{ expense.state }}
                        {{ expense.zipcode }}
                    </td>
                </tr>
                {% if expense.description %}
                    <tr>
                        <td><strong>Description</strong></td>
                        <td>{{ expense.description }}</td>
                    </tr>
                {% endif %}
                {% if expense.occupation %}
                    <tr>
                        <td><strong>Occupation</strong></td>
                        <td>{{ expense.occupation }}</td>
                    </tr>
                {% endif %}
                {% if expense.employer %}
                    <tr>
                        <td><strong>Employer</strong></td>
                        <td>{{ expense.employer }}</td>
                    </tr>
                {% endif %}
                {% if expense.vendor_last_name %}
                    <tr>
                        <td><strong>Vendor name</strong></td>
                        <td>
                            {% if expense.vendor_first_name %}
                                {{ expense.vendor_first_name }}
                            {% endif %}
                            {{ expense.vendor_last_name }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Vendor address</strong></td>
                        <td>
                            {{ expense.vendor_address1 }}
                            {% if expense.vendor_address2 %}
                                &nbsp;{{ expense.vendor_address2 }}
                            {% endif %}
                            &middot;
                            {{ expense.vendor_city }},
                            {{ expense.vendor_state }}
                            {{ expense.vendor_zipcode }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class='col-sm-4'>
        <div class='well'>
            <h4>Expenditure</h4>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Date</td>
                        <td>
                            {% if expense.expended_date %}
                                {{ expense.expended_date.strftime('%b %d, %Y') }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Expenditure type</td>
                        <td>{{ expense.d2_part|expense_name }}</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>{{ expense.amount|format_money }}</td>
                    </tr>
                    <tr>
                        <td>Expenditure ID</td>
                        <td>{{ expense.id }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
