{% extends 'base.html' %}
://www.youtube.com/agrant@127.0.0.1
{% from 'macros.html' import header %}
{% block header_social %}
    {{ header(None, None, request.path) }}
{% endblock %}
{% block content %}

<div class="alert alert-info sidebar_newsletter" role="alert">
    <i class="fa fa-times"></i>
    <a href="https://ilcampaign.wufoo.com/forms/mznomyv130ae9w/" class="alert-link" target="_blank">
        Get the Illinois Sunshine Weekly update!<br />
        <span style="font-weight:normal;">Click here to receive in-depth updates on Illinois campaign finance.</span>
    </a>
</div>

<div class='visible-xs-inline visible-sm-inline'>
    <p class='text-center'>
        <a href='http://www.ilcampaign.org/donate/' target='_blank'><img src='/static/images/icpr-logo-horizontal-donate.png' style='height:130px; padding-bottom: 5px;' class='img-responsive center-block' /></a>
    </p>
</div>

<div class='row'>
    <div class='col-sm-10'>
        <div class='jumbotron'>
            <p style="font-size:27px;color:#000000;padding:0;">Keep an Eye on Money in Illinois Politics <span style="color:#666; font-size:16px;">updated daily</span></p>
            <form action='/search' method='GET'>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Search for names of candidates, committees and donors in Illinois" name="term">
                    <input type='hidden' name='table_name' value='candidates' />
                    <input type='hidden' name='table_name' value='committees' />
                    <input type='hidden' name='table_name' value='officers' />
                    <input type='hidden' name='table_name' value='receipts' />
                    <input type='hidden' name='table_name' value='expenditures' />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class='fa fa-search'></i> Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class='col-sm-2 visible-lg-inline visible-md-inline'>
        <p class='text-center'><small>Brought to you by</small></p>
        <a href='http://ilcampaign.org'><img src='/static/images/icpr-logo.png' style='height:130px; padding-bottom: 5px;' class='img-responsive center-block' /></a>
        <p class='text-center'><a class='btn btn-primary btn-sm' href='http://www.ilcampaign.org/donate/' target='_blank'>
          Please donate!
        </a></p>
    </div>
</div>

<div class="col-sm-8" style="height: 470px; padding: 0; margin: 0;">
    <iframe style="border-style: none; width: 100%; height: 100%;" scrolling="no" src="{{ url_for('views.widgets_gov_contested_race', hideHeaders=True, showImage=True) }}"></iframe>
</div>

<!-- News Content Div -->
<div class="col-sm-4">
    <h3 style="color: black;">News </h3>
    <p class="subtitle">Click below for the latest articles</p>
    <div id="news-1" class="news-box-wrapper">
        <div class="news-box">
            {{ news_content[0].content|safe }}
        </div>
    </div>
    <div id="news-2" class="news-box-wrapper">
        <div class="news-box">
            {{ news_content[1].content|safe }}
        </div>
    </div>
    <div id="news-3" class="news-box-wrapper">
        <div class="news-box">
            {{ news_content[2].content|safe }}
        </div>
    </div>
</div>

<!-- House/Senate Contested Races Table -->
<div class="col-sm-12">
    <img src="/static/images/illinois_state_seal.gif" class="header-image" />
    <div style="display:inline-block;">
        <h3>
            <a class='header-link' href='{{ url_for('views.contested_races') }}'>
                Contested Races for Illinois General Assembly
            </a>
        </h3>
        <p>Funds raised in 2018 Races for Illinois State House and Senate</p>
    </div>
</div>

<div class="col-12">
    <table class = "table table-striped table-hover table-border">
        <thead>
            <tr>
                <th style="min-width:10%;" class='text-left'>Chamber</th>
                <th style="min-width:10%;" class='text-center'>District</th>
                <th style="min-width:10%;white-space:nowrap;" class='text-center'>Total Candidates</th>
                <th class='text-center'>Candidates</th>
                <th style="min-width:10%; white-space:nowrap;" class='text-right'>Total Funds in Race</th>
            </tr>
        </thead>
        <tbody>
            {% for a in house_senate_count %}
            <tr class="clickable" style="cursor:pointer;" onclick="window.open('{{ url_for('views.contested_races', type=a[5], visible=a[1]) }}'); setAttribute('target', '_blank');">
                <td style="font-weight:bold;">{{a[4]}}</td>
                <td style="font-weight:bold;" class='text-center'>{{a[1]}}th</td>
                <td style="font-weight:bold;" class='text-center'>{{a[2]}}</td>
                <td class='text-left'>{{a[6]}}</td>
                <td style="font-weight:bold;" class='text-right'>{{a[3]|format_money}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

<div style="clear:both;"></div>
<!-- Add table for "Political Funds in Illinois" here -->
<div class="col-sm-12">
    <img src="/static/images/icon_dem.png" class="header-image" />
    <div style="display:inline-block;">
        <h3 style="color: black;">Party Funds in Illinois</h3>
        <p class="subtitle">Funds available for top Democratic and Republican political parties in Illinois, updated daily</p>
    </div>
    <img src="/static/images/icon_rep.png" class="header-image" />
</div>

<div class="col-sm-6" style="padding: 0;">
    <table class="table table-striped dem uneven table-border table-merge" id='democratic-committee-funds-table'>
        <thead>
            <tr>
                <th colspan="2" class="text-center" style="background-color: #99afff;">Democratic State Party Committees</th>
            </tr>
        </thead>
        <tbody>
            <tr style="font-weight: bold;">
                <td>Committee Name</td>
                <td class='text-right'>Cash on Hand</td>
            </tr>
            {% for committee in democratic_committees %}
                {% set committee_slug = [committee.committee_name|slugify, committee.committee_id|string]|join('-') %}
                <tr class="clickable" style="cursor:pointer;" onclick="window.open('{{ url_for('views.committee', committee_id=committee_slug) }}'); setAttribute('target', '_blank');">
                    <td>{{ committee.committee_name }}</td>
                    <td class='text-right'>{{ committee.total|format_money  }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td style="color:rgba(0,0,0,0);">hidden</td>
                <td style="color:rgba(0,0,0,0);" class='text-right'>hidden</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-sm-6" style="padding: 0;">
    <table class="table table-striped rep table-border" id='republican-committee-funds-table'>
        <thead>
            <tr>
                <th colspan='2' class="text-center" style="background-color: #ff9999;">Republican State Party Committees</th>
            </tr>
        </thead>
        <tbody>
            <tr style="font-weight: bold;">
                <td>Committee Name</td>
                <td class='text-right'>Cash on Hand</td>
            </tr>
            {% for committee in republican_committees %}
                {% set committee_slug = [committee.committee_name|slugify, committee.committee_id|string]|join('-') %}
                <tr class="clickable" style="cursor:pointer;" onclick="window.open('{{ url_for('views.committee', committee_id=committee_slug) }}'); setAttribute('target', '_blank');">
                    <td>{{ committee.committee_name }}</td>
                    <td class='text-right'>{{ committee.total|format_money }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="clear" style="clear:both;"></div>
<br />
<br />

<h3>
    <i class="fa fa-dollar fa-fw"></i>
    <a class="header-link" href='{{ url_for('views.donations') }}' target='_blank'>Recent Political Donations</a>
</h3>

<p class="subtitle">Top donations to Illinois political committees in the last 7 days, updated daily</p>
<table class="table table-striped table-border" id='donations-table'>
    <thead>
        <tr>
            <th>Donor</th>
            <th class='text-right'>Amount</th>
            <th>Recipient</th>
            <th class='hidden-sm hidden-xs'>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for donation in days_donations %}
            {% set committee_slug = [donation.committee_name|slugify, donation.committee_id|string]|join('-') %}
            <tr>
                <td>
                    <a href='/search/?term={% if donation.first_name %}{{ donation.first_name }}{% endif %} {{ donation.last_name }}&table_name=candidates&table_name=committees&table_name=officers&table_name=receipts'>{% if donation.first_name %}{{ donation.first_name }}{% endif %} {{ donation.last_name }}</a>
                </td>
                <td class='nowrap text-right visible-sm-block visible-xs-block'>
                    <a href="{{ url_for('views.contribution', receipt_id=donation.id )}}">
                        <strong>{{ donation.amount|format_money_short }}</strong>
                    </a>
                </td>
                <td class='nowrap text-right hidden-sm hidden-xs'>
                    <a href="{{ url_for('views.contribution', receipt_id=donation.id )}}">
                        {{ donation.d2_part|donation_verb }} <strong>{{ donation.amount|format_money }}</strong>
                    </a> to
                </td>
                <td>
                    <a href="{{ url_for('views.committee', committee_id=committee_slug )}}">{{ donation.committee_name }}</a>
                </td>
                <td class='nowrap hidden-sm hidden-xs'>
                    on {{ donation.received_date.strftime('%b %d, %Y') }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p><a class='btn btn-primary' href='{{ url_for('views.donations') }}'><i class='fa fa-dollar fa-fw'></i> Browse all donations &raquo;</a></p>
<br /><br />

<h2>
    <i class='fa fa-plus-circle fa-fw'></i>
    <a class="header-link" href='{{ url_for('views.top_earners') }}'>Top Earners</a> <small>last 30 days, updated daily</small>
</h2>

<p class="subtitle">Political committees operate by receiving donations, transfers and loans from people, organizations, and other committees. Here's who's raised the most money in the last month.</p>
<table class="table table-striped table-border">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Committee</th>
            <th class='hidden-sm hidden-xs'>Type</th>
            <th class='text-right'>New funds</th>
            <th class='text-right hidden-sm hidden-xs'>Current funds</th>
        </tr>
    </thead>
    <tbody>
        {% for earner in top_earners %}
            <tr>
                <td>{{ loop.index }}</td>
                {% set committee_slug = [earner.name|slugify, earner.committee_id|string]|join('-') %}
                <td><a href="{{ url_for('views.committee', committee_id=committee_slug ) }}">{{ earner.name }}</a></td>
                <td class='hidden-sm hidden-xs'>{{ earner.type }}</td>
                <td class='money-add text-right'>
                    {% if earner.amount %}
                        +{{earner.amount|format_money}}
                    {% else %}
                        $0
                    {% endif %}
                </td>
                <td class='text-right hidden-sm hidden-xs'>{{ earner.total|format_money }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p>
    <a class='btn btn-primary' href='{{ url_for('views.top_earners') }}'><i class='fa fa-plus-circle fa-fw'></i> More top earners &raquo;</a>
</p>
<br /><br />

<h2><i class='fa fa-group fa-fw'></i> <a class="header-link" href='{{ url_for('views.committees') }}'>Top Political Committees</a> <small>highest current funds, updated daily</small></h2>
<p class="subtitle">Political committees must report their current funds, along with donations and expenditures <a href='/about/#how-is-campaign-finance-disclosed'>every quarter</a>. Here's the committees that have the most investments and cash on hand.</p>
<table class="table table-hover table-border">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Committee</th>
            <th class='hidden-sm hidden-xs'>Type</th>
            <th class='text-right'>Current funds</th>
        </tr>
    </thead>
    <tbody>
        {% for record in top_ten %}
            <tr>
                <td>{{ loop.index }}</td>
                {% set committee_slug = [record.committee_name|slugify, record.committee_id|string]|join('-') %}
                <td><a href="{{ url_for('views.committee', committee_id=committee_slug ) }}">{{ record.committee_name }}</a></td>
                <td class='hidden-sm hidden-xs'>{{ record.committee_type }}</td>
                <td class='text-right'>{{ record.total|format_money }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p><a class='btn btn-primary' href='{{ url_for('views.committees') }}'><i class='fa fa-group fa-fw'></i> All committees &raquo;</a></p>

<br /><br />
<h2>
    <i class='fa fa-dollar fa-fw'></i>
    <a class="header-link" href='{{ url_for('views.donations') }}'>Tracking Political Donations</a> <small>by month and year</small>
</h2>

<p class="subtitle">The chart below shows political donations since 1994. <i class='fa fa-fw fa-hand-pointer-o'></i> Hover over a month to see total donations and transfers during that time period. To see total donations and transfers by year, decrease the size of your browser window until you see dark green bars.</p>

<div class='hidden-sm hidden-xs' id='donation-chart'></div>
<br />

<div class='visible-sm-block visible-xs-block' id='donation-chart-year'></div>
<br /><br />

<h2><i class='fa fa-info-circle fa-fw'></i> <a class="header-link" href='{{ url_for('views.about') }}'>About</a></h2>

<p class="subtitle"><strong>Illinois Sunshine</strong> is a tool by the <a href='http://www.ilcampaign.org/' title='Illinois Campaign for Political Reform'>Illinois Campaign for Political Reform</a> for browsing political contributions in the state of Illinois.</p>

<p class="subtitle">The data comes from the <a href='http://www.elections.il.gov/'>Illinois State Board of Elections</a>, which has been collecting this data electronically since 1994. We built Illinois Sunshine to give journalists, activists and citizens better access to and documentation for this data.</p>

<p class="subtitle"><a class='btn btn-primary' href='{{ url_for('views.about') }}'><i class='fa fa-info-circle fa-fw'></i> Read more &raquo;</a></p>

{% endblock %}

{% block extra_javascript %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/chart_helper.js"></script>
    <script src="/static/js/popupmenu.js"></script>
    <script>

        //money by month chart
        var money = {{ donations_by_month|tojson|safe }};
        var money_f = [];
        for (i = 0; i < money.length; i++) {
            money_f.push([Date.UTC(money[i][1],money[i][2]-1,money[i][3]), money[i][0]]);
        }

        ChartHelper.donations('donation-chart', 'Campaign donations', '', 'Donations', money_f, 'month');

        // money by year chart
        var money_y = {{ donations_by_year|tojson|safe }};
        var money_y_f = [];
        for (i = 0; i < money_y.length; i++) {
            money_y_f.push([Date.UTC(money_y[i][1],money_y[i][2]-1,money_y[i][3]), money_y[i][0]]);
        }

        ChartHelper.donations('donation-chart-year', 'Campaign donations', '', 'Donations', money_y_f, 'year');
    </script>

{% endblock %}
