{% extends 'base.html' %}
{% block title %}Sunshine Database - 2.0{% endblock %}
{% block extra_styles %}
    <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <input id="search" type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="search-results"></div>
</div>
{% endblock %}
{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ejs_production.js') }}"></script>
    <script src="{{ url_for('static', filename='js/accounting.min.js') }}"></script>
    <script type="text/EJS" id="searchResult">
        <div class="search-result">
            <p>
                <strong>
                    <a href="/contribution/<%= result.id %>/"><%= result.first_name %> <%= result.last_name %></a>
                </strong> gave&nbsp;
                <strong><%= accounting.formatMoney(result.amount) %></strong> to&nbsp;
                <strong>
                    <a href="/committee/<%= result.committee_id %>/"><%= result.committee_name %></a>
                </strong> on&nbsp;
                <%= moment(result.received_date).format('MMMM D, YYYY') %>
            </p>
        </div>
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('button.btn').on('click', function(e){
                e.preventDefault();
                console.log($('#search').data())
            })
            $('#search').autocomplete({
                source: "{{ url_for('views.names_autocomplete') }}",
                minLength: 2,
                select: function(event, ui){
                    $('#search').val(ui.item.name);
                    $('#search').data('table_name', ui.item.table_name);
                    $('#search').data('ids', ui.item.ids);
                    return false
                },
                focus: function(event, ui){
                    $('#search').val(ui.item.name);
                    return false
                }
            })
            .data('ui-autocomplete')._renderItem = function(ul, item){
                return $('<li>')
                    .append('<a>' + item.name + ' (' + item.table_name + ')</a>')
                    .appendTo(ul);
            };
        })
    </script>
{% endblock %}
