{% macro header(title, description, url) -%}
    {% if title %}
        <title>{{title}} - Illinois Sunshine</title>
    {% else %}
        <title>Illinois Sunshine - Keep an eye on money in Illinois politics</title>
    {% endif %}

    <meta charset='utf-8' />
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    {% if description %}
      <meta content="{{ description }}" name='description' />
    {% else %}
      <meta content="{{ config.DESCRIPTION }}" name='description' />
    {% endif %}
    <meta content='{{ config.AUTHOR }}' name='author' />

    <!-- Facebook metadata -->
    <meta content="{{ config.TITLE }}" property="og:site_name">
    {% if title %}
      <meta content="{{ title }}" property="og:title">
    {% else %}
      <meta content="{{ config.TITLE }}" property="og:title">
    {% endif %}
    {% if title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}
    {% if description %}
      <meta content="{{ description }}" property="og:description">
    {% else %}
      <meta content="{{ config.DESCRIPTION }}" property="og:description">
    {% endif %}
    {% if url %}
      <meta content="{{ config.URL }}{{ url }}" property="og:url">
    {% endif %}
    <meta content="{{ config.URL }}/static/images/icpr-logo.png" property="og:image">

    <!-- Twitter metadata -->
    <!-- <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ILCampaign">
    <meta name="twitter:creator" content="@ILCampaign">
    {% if description %}
      <meta name="twitter:description" content="{{ description }}">
    {% else %}
      <meta name="twitter:description" content="{{ config.DESCRIPTION }}">
    {% endif %}
    {% if title %}
      <meta name="twitter:title" content="{{ title }}">
    {% else %}
      <meta name="twitter:title" content="{{ config.TITLE }}">
    {% endif %}
    {% if url %}
      <meta name="twitter:url" content="{{ config.URL }}{{ url }}">
    {% endif %}
    <meta name="twitter:image:src" content="{{ config.URL }}/static/images/icpr-logo.png"> -->
{%- endmacro %}

{% macro pager(page, pages, url_base) -%}
{% if '?' in url_base %}
{% set url_base = url_base + '&' %}
{% else %}
{% set url_base = url_base + '?' %}
{% endif %}
{% if pages > 1 %}
<ul class="pagination">
    {% set min = page - 2 %}
    {% set max = page + 3 + 1 %}

    {% if min < 0 %}
        {% set max = max - min %}
    {% endif %}
    {% if max >= pages %}
        {% set min = min - max + pages %}
    {% endif %}

    {% if min <= 0 %}
        {% set min = 1 %}
    {% endif %}
    {% if max >= pages %}
        {% set max = pages %}
    {% endif %}

    {% if min > 1 %}
    <li>
        <a href="{{ url_base }}">&laquo;</a>
    </li>
    {% else %}
    <li class="disabled">
        <a href="javascript:void(0)">&laquo;</a>
    </li>
    {% endif %}
    {% if page > 1 %}
    <li>
        <a href="{{ url_base }}page={{ page-1 }}">&lt;</a>
    </li>
    {% else %}
    <li class="disabled">
        <a href="javascript:void(0)">&lt;</a>
    </li>
    {% endif %}

    {% for p in range(min, max) %}
    {% if page == p %}
    <li class="active">
        <a href="javascript:void(0)">{{ p }}</a>
    </li>
    {% else %}
    <li>
        <a href="{{ url_base }}page={{ p }}">{{ p }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if page < pages %}
    <li>
        <a href="{{ url_base }}page={{ page + 1 }}">&gt;</a>
    </li>
    {% else %}
    <li class="disabled">
        <a href="javascript:void(0)">&gt;</a>
    </li>
    {% endif %}
    {% if max < pages %}
    <li>
        <a href="{{ url_base }}page={{ pages }}">&raquo;</a>
    </li>
    {% else %}
    <li class="disabled">
        <a href="javascript:void(0)">&raquo;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
{%- endmacro %}
