{% extends 'base.html' %}
{% from 'macros.html' import pager, header %}
{% block header_social %}
    {{ header(contested_races_title, contested_races_type | contested_races_description, request.path) }}
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-sm-8">
    </div>
   </div>
<div class="row">
    <div class="col-sm-8">
        <h1><i class='fa fa-times-circle fa-fw'></i>Contested Municipal Races <small>Updated Daily</small></h1>
        <br />
    </div>
    <div class="col-sm-4">
        <img src='/static/images/illinois_state_seal_small.png' class='img-responsive center-block'/>
    </div>
 </div>
<div class="row">
    <div class="col-sm-12">
        {% set cand_span = "4" %}
        <table class = "table table-striped table-hover">
            <thead>
                <tr>
                    <th class = 'text-center'>Municipality</th>
                    <th class = 'text-center' style='border-left:0.1px solid #999999'>Office</th>
                    <th class = 'text-center' style='border-left:0.1px solid #999999'>$ in Race</th>
                    <th class = 'text-left' style='border-left:0.1px solid #999999' colspan = {{ cand_span }}>Candidates</th>
                    </tr>
            </thead>
            <tbody>
                {% for key, value in contested_dict.items() %}
                <tr class = 'clickable' style= "cursor: Pointer;" onclick="window.location.href = '{{ url_for('views.muni_contested_race_detail', district=key) }}';">
                    <td class='text-center' width="8%">
                        <a href= '{{ url_for('views.muni_contested_race_detail', district=key) }}'>{{ key }}</a>
                    </td>
                    <td class='text-center' width="5%" style='border-left:0.1px solid #999999'>
                        {{ value[0].branch }}
                    </td>
                    <td class='text-center' width="8%" style='border-left:0.1px solid #999999'>
                        {{ total_money[key]|format_money }}
                    </td>
                    {% for c in value %}
                        <td class='text-left' style='border-left:0.1px solid #999999' width="10%">
                            <strong>{{ c.first }} {{ c.last }}</strong> {% if c.party %} ({{ c.party }}) {% endif %} {% if c.incumbent|string() == 'Y' %} *INCUMBENT {% elif (c.incumbent|string() != "N") %} *{{ c.incumbent|string() }} {% endif %}

                        </td>
                    {% endfor %}
                    {% for i in range(4 - value|length) %}
                        <td style='border-left:0.1px solid #999999' width="10%">&nbsp;</td>
                    {% endfor %}
                </a></tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
