{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>
            <i class='fa fa-search'></i> Search
        </h1>
        <form method='GET'>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Search for candidates, committees and donors in Illinois" id="term" name="term" {% if term %}value="{{term}}"{% endif %}>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class='fa fa-search'></i> Search</button>
                </span>
            </div>
            <div class="form-group" id='filter-results'>
                <br />
                <span>Search for:</span>
                <label data-title='Candidates' data-content='Any person who seeks nomination for election, election to, or retention in public office'>
                    <input type="checkbox" name="table_name" value="candidates" {% if 'candidates' in table_name %}checked='checked'{% endif %}> Candidates
                </label>
                <label data-title='Committees' data-content='Includes committees for political candidates, political parties, political action committees (PACs), and ballot initiatives'>
                    <input type="checkbox" name="table_name" value="committees" {% if 'committees' in table_name %}checked='checked'{% endif %}> Committees
                </label>
                <label data-title='Committee officers' data-content='Chairmen and treasurerers for political committees'>
                    <input type="checkbox" name="table_name" value="officers" {% if 'officers' in table_name %}checked='checked'{% endif %}> Committee officers
                </label>
                <label data-title='Donations' data-content='Any person or organization who has given to a political committee'>
                    <input type="checkbox" name="table_name" value="receipts" {% if 'receipts' in table_name %}checked='checked'{% endif %}> Donations
                </label>
                <label data-title='Expenditures' data-content='Any person or organization who was given money by a political committee'>
                    <input type="checkbox" name="table_name" value="expenditures" {% if 'expenditures' in table_name %}checked='checked'{% endif %}> Expenditures
                </label>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="search_date__ge">Date from: </label>
                        <input id="search_date__ge" type="text" class="form-control" name="search_date__ge" {% if search_date__ge %}value="{{search_date__ge}}" {% endif %}/>
                    </div>
                    <div class="col-md-6">
                        <label for="search_date__le">Date to: </label>
                        <input id="search_date__le" type="text" class="form-control" name="search_date__le" {% if search_date__le %}value="{{search_date__le}}" {% endif %}/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-12">
        <div id="search-results">
            <div id="committees-results" style="display:none;">
                <h3>Committees <small></small></h3>
                <table class="table table-hover" id="committees-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Committee type</th>
                            <th>Party</th>
                            <th>Purpose</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                </table>
                <hr />
            </div>
            <div id="candidates-results" style="display:none;">
                <h3>Candidates <small></small></h3>
                <table class="table table-hover" id="candidates-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Party</th>
                            <th>Office held</th>
                        </tr>
                    </thead>
                </table>
                <hr />
            </div>
            <div id="officers-results" style="display:none;">
                <h3>Officers <small></small></h3>
                <table class="table table-hover" id="officers-table">
                    <thead>
                        <tr>
                            <th>Officer name</th>
                            <th>Committee name</th>
                            <th>Title</th>
                            <th>Current officer</th>
                            <th>Resign date</th>
                        </tr>
                    </thead>
                </table>
                <hr />
            </div>
            <div id="receipts-results" style="display:none;">
                <h3>Receipts <small></small></h3>
                <table class="table table-hover" id="receipts-table">
                    <thead>
                        <tr>
                            <th>Donor name</th>
                            <th>Committee name</th>
                            <th>Amount</th>
                            <th>Recieved date</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="expenditures-results" style="display:none;">
                <h3>Expenditures <small></small></h3>
                <table class="table table-hover" id="expenditures-table">
                    <thead>
                        <tr>
                            <th>Recipient name</th>
                            <th>Committee name</th>
                            <th>Purpose</th>
                            <th>Amount</th>
                            <th>Expended date</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.sorting.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ejs_production.js') }}"></script>
    <script src="{{ url_for('static', filename='js/accounting.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/URI.min.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function(){

        $('#filter-results label').popover({trigger: "hover", placement: "bottom"});

        {% if term != None %}
            var query = URI(window.location.search).query(true)
            do_query(query);
        {% endif %}
    })
    function do_query(query){
        var term = query['term'];
        var start_date = query['search_date__ge'];
        var end_date = query['search_date__le'];

        var table_names = [];

        if(typeof query.table_name === 'string'){
            table_names = [query.table_name];
        } else {
            table_names = query.table_name;
        }

        if(table_names.indexOf('committees') >= 0){

            var columns =  [
                {
                    "data": "name",
                    "render": function(data, type, full, meta){
                        return '<a href="/committees/' + full['id'] + '/">' + full['name'] + '</a>';
                    }
                },
                {"data": "type"},
                {"data": "party"},
                {"data": "purpose"},
                {
                    "data": "active",
                    "render": function(data, type, full, meta){
                        return format_boolean(data);
                    }
                }
            ]

            init_datatable(term, start_date, end_date, 'committees', columns);
        }

        if(table_names.indexOf('candidates') >= 0){

            var columns = [
                {
                    "data": "last_name",
                    "render": function(data, type, full, meta){
                        var name = full['first_name'] + ' ' + full['last_name'];
                        return '<a href="/candidates/' + full['id'] + '/">' + name + '</a>';
                    }
                },
                {"data": "party"},
                {"data": "office"}
            ]

            init_datatable(term, start_date, end_date, 'candidates', columns);
        }

        if(table_names.indexOf('officers') >= 0){

            var columns = [
                {
                    "data": "last_name",
                    "render": function(data, type, full, meta){
                        return full['first_name'] + ' ' + full['last_name'];
                    }
                },
                {
                    "data": "committee_name",
                    "render": function(data, type, full, meta){
                        return '<a href="/committees/' + full['committee_id'] + '/">' + data + '</a>';
                    }
                },
                {"data": "title"},
                {
                    "data": "current",
                    "render": function(data, type, full, meta){
                        return format_boolean(data);
                    }
                },
                {
                    "data": "resign_date",
                    "render": function(data, type, full, meta){
                        if(data){
                            return moment(data).format('MMMM DD, YYYY')
                        } else {
                            return data
                        }
                    }
                }
            ]

            init_datatable(term, start_date, end_date, 'officers', columns);
        }

        if(table_names.indexOf('receipts') >= 0){

            var columns =  [
                {
                    "data": "last_name",
                    "render": function(data, type, full, meta){
                        if(full['first_name']){
                            return full['first_name'] + ' ' + full['last_name'];
                        } else {
                            return data;
                        }
                    }
                },
                {
                    "data": "committee_name",
                    "render": function(data, type, full, meta){
                        return '<a href="/committees/' + full['committee_id'] + '/">' + full['committee_name'] + '</a>'
                    }
                },
                {
                    "data": "amount",
                    "render": function(data, type, full, meta){
                        return accounting.formatMoney(data);
                    }
                },
                {
                    "data": "received_date",
                    "render": function(data, type, full, meta){
                        if(data){
                            return moment(data).format('MMMM DD, YYYY')
                        }
                    }
                }
            ]
            var order = [[3, 'desc']];

            init_datatable(term, start_date, end_date, 'receipts', columns, order);

        }

        if(table_names.indexOf('expenditures') >= 0){

            var columns =  [
                {
                    "data": "last_name",
                    "render": function(data, type, full, meta){
                        if(full['first_name']){
                            return full['first_name'] + ' ' + full['last_name'];
                        } else {
                            return data;
                        }
                    }
                },
                {
                    "data": "committee_name",
                    "render": function(data, type, full, meta){
                        return '<a href="/committees/' + full['committee_id'] + '/">' + full['committee_name'] + '</a>'
                    }
                },
                {
                    "data": "purpose",
                    "render": function(data, type, full, meta){
                        return data
                    }
                },
                {
                    "data": "amount",
                    "render": function(data, type, full, meta){
                        return accounting.formatMoney(data);
                    }
                },
                {
                    "data": "expended_date",
                    "render": function(data, type, full, meta){
                        if(data){
                            return moment(data).format('MMMM DD, YYYY')
                        }
                    }
                }
            ]
            var order = [[3, 'desc']];

            init_datatable(term, start_date, end_date, 'expenditures', columns, order);

        }
    }

    function init_datatable(term, start_date, end_date, table_name, columns, order){
        if (typeof order === 'undefined'){
            var order = [[0, 'asc']]
        }

        $('#' + table_name + '-results').show();

        var params = {
            'term': term,
            'table_name': table_name,
        };

        if (typeof start_date !== 'undefined'){
            params['search_date__ge'] = start_date
        }

        if (typeof end_date !== 'undefined'){
            params['search_date__le'] = end_date
        }

        params = $.param(params);

        var language_opts = {
            'paginate': {
                'first': '&laquo;',
                'last': '&raquo;',
                'previous': '&lt;',
                'next': '&gt;'
            },
            'zeroRecords': 'No results found'
        }
        var opts = {
            "info": false,
            "searching": false,
            "bLengthChange": false,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{{ url_for('api.advanced_search') }}?" + params,
                "dataSrc": "objects." + table_name
            },
            "columns": columns,
            "language": {
                'paginate': {
                    'first': '&laquo;',
                    'last': '&raquo;',
                    'previous': '&lt;',
                    'next': '&gt;'
                },
                'zeroRecords': 'No results found',
                'processing': "<h1><i class='fa fa-spin fa-sun-o'></i></h1>"
            },
            "initComplete": function(settings, data){
                if(data['objects'][table_name].length == 0){
                    $('#' + table_name + '-results').hide()
                }
                else {
                    $('#' + table_name + '-results h3 small').html(data['meta'].total_rows + " found");
                }
            },
            "drawCallback": function(settings){
                var display_count = parseInt(settings._iDisplayLength);
                var record_count = parseInt(settings['json']['meta']['total_rows']);
                // console.log(display_count, record_count);
                if (record_count <= display_count){
                    $('#' + table_name + '-table_paginate').hide();
                }
            },
            "order": order
        }
        var table = $('#' + table_name + '-table').DataTable(opts);
    }

    function format_boolean(value) {
        if (value)
            return "Yes";
        else if (value == false)
            return "No";
        else
            return "";
    }
</script>
{% endblock %}
