{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>
            <i class='fa fa-search'></i> Search
        </h1>
        <form method='GET'>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Search for candidates, committees and donors in Illinois" id="term" name="term" {% if term %}value="{{term}}"{% endif %}>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class='fa fa-search'></i> Search</button>
                </span>
            </div>
            <div class="form-group" id='filter-results'>
                <br />
                <span>Search for:</span>
                <label data-title='Candidates' data-content='Any person who seeks nomination for election, election to, or retention in public office'>
                    <input type="checkbox" name="table_name" value="candidates" {% if 'candidates' in table_name %}checked='checked'{% endif %}> Candidates
                </label>
                <label data-title='Committees' data-content='Includes committees for political candidates, political parties, political action committees (PACs), and ballot initiatives'>
                    <input type="checkbox" name="table_name" value="committees" {% if 'committees' in table_name %}checked='checked'{% endif %}> Committees
                </label>
                <label data-title='Committee officers' data-content='Chairmen and treasurerers for political committees'>
                    <input type="checkbox" name="table_name" value="officers" {% if 'officers' in table_name %}checked='checked'{% endif %}> Committee officers
                </label>
                <label data-title='Donors' data-content='Any person or organization who has given to a political committee'>
                    <input type="checkbox" name="table_name" value="receipts" {% if 'receipts' in table_name %}checked='checked'{% endif %}> Donors
                </label>
            </div>
        </form>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-12">
        <div id="search-results">
            <div id="candidates-results"></div>
            <div id="committees-results"></div>
            <div id="officers-results"></div>
            <div id="receipts-results"></div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_javascript %}
    <script src="{{ url_for('static', filename='js/spin.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.spin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ejs_production.js') }}"></script>
    <script src="{{ url_for('static', filename='js/accounting.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script type="text/EJS" id="committeesResult">
        <h4><%= results.length %> committees found</h4>
        <div class="search-result">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Committee type</th>
                        <th>Party</th>
                        <th>Purpose</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                <% $.each(results, function(i, record){ %>
                    <tr>
                        <td>
                            <a href="/committees/<%= record.id %>/">
                                <%= record.name %>
                            </a>
                        </td>
                        <td>
                            <%= record.type %>
                        </td>
                        <td>
                            <%= record.party %>
                        </td>
                        <td>
                            <%= record.purpose %>
                        </td>
                        <td>
                            <%= format_boolean(record.active) %>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </script>
    <script type="text/EJS" id="candidatesResult">
        <h4><%= results.length %> candidates found</h4>
        <div class="search-result">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Party</th>
                        <th>Office held</th>
                    </tr>
                </thead>
                <tbody>
                <% $.each(results, function(i, record){ %>
                    <tr>
                        <td>
                            <a href="/candidates/<%= record.id %>/">
                                <%= record.first_name %> <%= record.last_name %>
                            </a>
                        </td>
                        <td>
                            <%= record.party %>
                        </td>
                        <td>
                            <%= record.office %>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </script>
    <script type="text/EJS" id="receiptsResult">
        <h4><%= results.length %> donations found</h4>
        <div class="search-result">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Donor name</th>
                        <th>Committee name</th>
                        <th>Amount</th>
                        <th>Recieved date</th>
                    </tr>
                </thead>
                <tbody>
                <% $.each(results, function(i, record){ %>
                    <tr>
                        <td>
                            <%= record.first_name %> <%= record.last_name %>
                        </td>
                        <td>
                            <a href="/committees/<%= record.committee_id %>/">
                                <%= record.committee_name %>
                            </a>
                        </td>
                        <td>
                            <%= accounting.formatMoney(record.amount) %>
                        </td>
                        <td>
                            <% if (record.received_date) { %>
                                <%= moment(record.received_date).format('MMM D, YYYY') %>
                            <% } %>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </script>
    <script type="text/EJS" id="officersResult">
        <h4><%= results.length %> officers found</h4>
        <div class="search-result">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Officer name</th>
                        <th>Committee name</th>
                        <th>Title</th>
                        <th>Current officer</th>
                        <th>Resign date</th>
                    </tr>
                </thead>
                <tbody>
                <% $.each(results, function(i, record){ %>
                    <tr>
                        <td>
                            <%= record.first_name %> <%= record.last_name %>
                        </td>
                        <td>
                            <a href="/committees/<%= record.committee_id %>/">
                                <%= record.committee_name %>
                            </a>
                        </td>
                        <td>
                            <%= record.title %>
                        </td>
                        <td>
                            <%= format_boolean(record.current) %>
                        </td>
                        <td>
                            <% if (record.resign_date) { %>
                                <%= moment(record.resign_date).format('MMM D, YYYY') %>
                            <% } %>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </script>
    <script type="text/EJS" id="expendituresResult">
        <h4><%= results.length %> expenditures found</h4>
        <div class="search-result">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Expense name</th>
                        <th>Committee name</th>
                        <th>Amount</th>
                        <th>Expended date</th>
                    </tr>
                </thead>
                <tbody>
                <% $.each(results, function(i, record){ %>
                    <tr>
                        <td>
                            <%= record.first_name %> <%= record.last_name %>
                        </td>
                        <td>
                            <a href="/committees/<%= record.committee_id %>/">
                                <%= record.committee_name %>
                            </a>
                        </td>
                        <td>
                            <a href="/expenditures/<%= record.id %>/">
                                <%= accounting.formatMoney(record.amount) %>
                            </a>
                        </td>
                        <td>
                            <% if (record.expended_date) { %>
                                <%= moment(record.expended_date).format('MMM D, YYYY') %>
                            <% } %>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </script>
    <script type="text/EJS" id="investmentsResult">
        <h4><%= results.length %> investments found</h4>
        <div class="search-result">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Investment name</th>
                        <th>Committee name</th>
                        <th>Current value</th>
                        <th>Liquid value</th>
                    </tr>
                </thead>
                <tbody>
                <% $.each(results, function(i, record){ %>
                    <tr>
                        <td>
                            <%= record.first_name %> <%= record.last_name %>
                        </td>
                        <td>
                            <a href="/committees/<%= record.committee_id %>/">
                                <%= record.committee_name %>
                            </a>
                        </td>
                        <td>
                            <%= record.current_value %>
                        </td>
                        <td>
                            <%= record.liquid_value %>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </script>
<script type="text/javascript">
    $(document).ready(function(){

        $('#filter-results label').popover({trigger: "hover", placement: "bottom"});

        {% if term != None %}
            $('#search-results').spin('large');
            do_query(window.location.search);
        {% endif %}
    })
    function do_query(params){
        $.when($.getJSON("{{ url_for('api.advanced_search') }}" + params)).then(
            function(resp){
                $('#search-results').spin(false);
                $.each(resp.objects, function(table_name, results){
                    var template_guts = $('#' + table_name + 'Result').html()
                    var template = new EJS({'text': template_guts});
                    var records = [];
                    $.each(results, function(i, record){
                        records = records.concat(record.records);
                    });
                    console.log(records);
                    $('#' + table_name + '-results').append(template.render({'results': records}));
                })
                if (resp.objects.length == 0)
                    $('#search-results').html("<h3>No results found for '" + $("#term").val() + "'</h3>")
            }
        )
    }

    function format_boolean(value) {
        if (value)
            return "Yes";
        else if (value == false)
            return "No";
        else
            return "";
    }
</script>
{% endblock %}
